/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #eee;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ddd;
  border: .05rem solid #ddd;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #ddd;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 55em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #ddd;
  border-bottom-color: #ddd;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.modal-content {
    background-color: #272727;
}

.btn-primary {
    background-color: #341e1e;
    border-color: #341e1e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:active:focus {
    background-color: #451e1e !important;
    border-color: #341e1e !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-secondary {
    background-color: #231414;
    border-color: #231e1e;
    color: #aaa;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    background-color: #341414 !important;
    border-color: #231e1e !important;
    color: #aaa;
    outline: none !important;
    box-shadow: none !important;
}

.selectable-character{
    padding: 10px;
    margin: 1px;
}

.selected-character {
    background-color: #2B4D2B;
}

.unselected-character {
    background-color: #2B2B2B;
}

.recommended-character {
    background-color: #2B3C2B
}

.unrecommended-character {
    background-color: #662B2B
}

#provision-table tr:nth-child(even) {
    background-color: #1B1B1B;
}

.character-slot {
    width: 50px;
}

@media (min-width: 390px) {
    .character-slot {
        width: 70px;
    }
}
@media (min-width: 524px) {
    .character-slot {
        width: 100px;
    }
}




/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
