body {
    background-color: #181818;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #798996;
  margin: 0 auto;
  background-color: #272727;
  width: 600px;
  border: 1px solid #6B7A84
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

select, input {
    background-color: #000;
    color: #6b7a84;
    border: 1px solid #6b7a84;
    text-align: center;
    font-size: 11pt;
    padding: 5px;
}


.characters {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
fieldset {
    border: none;
    margin-bottom: 30px;
}
#provision-table {
    margin: 0 auto;
}
legend {
    font-size: 16pt;
    border-bottom: 1px solid;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.provision-used {
    width: 20px;
}
#modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

#modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#modal-container {
  width: 450px;
  margin: 0px auto;
  padding: 5px 30px 20px 30px;
  background-color: #272727;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 5px;
    border-bottom: 1px solid #BD2322;
}

.character-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.character-image {
    padding: 7px;
    margin: 2px;
}
.recommended-character {
    background-color: #2D3E30;
}
.not-recommended-character {
    background-color: #6A2F30;
}
